In [1]:
import pandas as pd
import requests
import io

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"
s = requests.get(url).content
df = pd.read_csv(io.StringIO(s.decode('utf-8')))

In [3]:
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [6]:
df.groupby("continent")["beer_servings"].mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

In [8]:
df.groupby("continent")["wine_servings"].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [10]:
df.groupby("continent")[["total_litres_of_pure_alcohol", "beer_servings",	"spirit_servings",	"wine_servings" ]].mean()

,total_litres_of_pure_alcohol,beer_servings,spirit_servings,wine_servings
continent,,,,
AF,3.007547,61.471698,16.339623,16.264151
AS,2.170455,37.045455,60.840909,9.068182
EU,8.617778,193.777778,132.555556,142.222222
OC,3.381250,89.687500,58.437500,35.625000
SA,6.308333,175.083333,114.750000,62.416667

In [12]:
df.groupby("continent")[["beer_servings",	"spirit_servings",	"wine_servings",	"total_litres_of_pure_alcohol"]].median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

In [16]:
# using the agg method we can list the functions we want to apply to a particular series or dataframe
pd.DataFrame(df["spirit_servings"].agg(['mean', 'min', 'max']))

      spirit_servings
mean        80.994819
min          0.000000
max        438.000000